<pre>
to: String,
project: String,
vars: Object,
priority: Number,
</pre>
<hr/>
<form class="layui-form" action="/admin/create_sms" method="POST">
    <div class="layui-form-item">
        <label class="layui-form-label">任务JSON</label>
        <div class="layui-input-block">
            <textarea name="sms_json" placeholder="请输入内容" class="layui-textarea"></textarea>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit>提交</button>
        </div>
    </div>
</form>

<script>
    layui.use('form', function () {
        var form = layui.form;
        form.render();
    });
</script>
