<div>
    <a href="/admin/teams_status_<%= status %>">正序</a>
    <a href="/admin/teams_status_<%= status %>?reverse=1">倒序</a>
</div>
<div>
    <strong>学校名称后面出现<spin style="color:red">*</spin>表示目前该学校还没有"校队"通过.</strong>
</div>

<% let cnname = {'all': '总', 'none': '待定', 'accepted': '通过', 'rejected': '拒绝'} %>
<table class="layui-table">
    <thead>
        <tr>
            <% for(let status of Object.keys(cnname)) { %><th><%= cnname[status] %></th><%}%>
        </tr>
    </thead>
    <tbody>
        <tr>
            <% for(let status of Object.keys(cnname)) { %>
                <td>
                    <p>队伍总数:<%= statistics[status].teams_count %></p>
                    <p>人总数:<%= statistics[status].members_count %></p>
                    <p>单人队伍:<%= statistics[status].each_teams_count[1] %> | 双人队伍:<%= statistics[status].each_teams_count[2] %> | 三人队伍:<%= statistics[status].each_teams_count[3] %></p>
                    <p>女队数量:<%= statistics[status].women_team %></p>
                </td>
            <% } %>
        </tr>
    </tbody>
</table>

<table class="layui-table">
    <thead>
        <tr>
            <th>队名</th>
            <!-- <th>英文队名</th> -->
            <th>总分</th>
            <th>状态</th>
            <th>操作</th>
            <th>姓名</th>
            <th>学校</th>
            <th>性别</th>
            <th>得分</th>
            <th>OI奖</th>
            <th>ACM奖</th>
            <th>经历得分</th>
            <th>竞赛经历</th>
        </tr>
    </thead>
    <tbody>
        <% teams.forEach(function(t) { %>
            <% t.members.forEach(function(m, i) { %>
                <tr>
                    <% if(i == 0) { %>
                    <td rowspan="<%= t.members.length %>"><%= t.teamname %></td>
                    <!-- <td rowspan="<%= t.members.length %>"><%= t.enteamname %></td> -->
                    <td rowspan="<%= t.members.length %>"><%= t.score %></td>
                    <td rowspan="<%= t.members.length %>"><%= t.team_status %></td>
                    <td rowspan="<%= t.members.length %>">
                        <a href="/admin/teams/<%= t._id %>/status/none">重置</a> |
                        <a href="/admin/teams/<%= t._id %>/status/accepted">通过</a> |
                        <a href="/admin/teams/<%= t._id %>/status/rejected">拒绝</a>
                    </td>
                    <% } %>
                    <td><%= m.name %></td>
                    <td><%= m.school %><% if (!_.includes(accepted_schools, m.school)) { %><spin style="color:red">*</spin><% } %></td>
                    <td><%= m.sex %></td>
                    <td><%= m.score %></td>
                    <td><pre><%= m.award_oi %><br/><br/><%= m.award_oi_points || 0 %></pre></td>
                    <td><pre><%= m.award_acm %><br/><br/><%= m.award_acm_points || 0 %></pre></td>
                    <td><pre><%= m.experiences_points || 0 %><br/><a href="/admin/teammember_points?team_id=<%= t._id %>&member_id=<%= m._id %>">修改</a></pre></td>
                    <td><pre><%= m.experiences %></pre></td>
                </tr>
            <% }) %>
        <% }) %>
    </tbody>
</table>
