<ul class="layui-nav" lay-filter="">
    <li class="layui-nav-item <%= tab == 'index' ? 'layui-this' : '' %>" >
        <a href="/">主页</a>
    </li>

    <li class="layui-nav-item <%= tab == 'info' ? 'layui-this' : '' %>">
        <a href="#">赛事介绍</a>
        <dl class="layui-nav-child">
            <dd>
                <a href="/info">赛事介绍</a>
            </dd>
            <dd>
                <a href="/faq">一些询问整理</a>
            </dd>
            <dd>
                <a href="/logs">修改日志</a>
            </dd>
        </dl>
    </li>

    <li class="layui-nav-item <%= tab == 'onlinecontest' ? 'layui-this' : '' %>">
        <a href="/onlinecontest">网络赛</a>
    </li>

    <li class="layui-nav-item <%= tab == 'team' ? 'layui-this' : '' %>">
        <a href="/myteam">我的队伍<% if (team && !team.info_filled) { %><span class="layui-badge-dot"></span><% } %></a>
    </li>
    <% if(user) { %>
        <li class="layui-nav-item <%= tab == 'user' ? 'layui-this' : '' %>">
            <a href="#"><%= hidden_phone_number(user.phone_number) %></a>
            <dl class="layui-nav-child">
                <% if(user.is_admin) { %>
                <dd>
                    <a href="/admin">后台</a>
                </dd>
                <% } %>
                <dd>
                    <a href="/modify">修改密码</a>
                </dd>
                <dd>
                    <a href="/logout">退出</a>
                </dd>
            </dl>
        </li>
    <% } else { %>
        <li class="layui-nav-item <%= tab == 'user' ? 'layui-this' : '' %>">
            <a href="/login">登录/注册</a>
        </li>
    <% } %>

</ul>

<script>
    layui.use('element', function () {
        var element = layui.element;
        element.render('nav');
    });
</script>
