<br/>
<br/>

<div class="entry-form">
    <h1 class="text-center">修 改 密 码</h1>
    <br/>
    <form class="layui-form layui-form-pane" action="/modify" method="POST">
        <input type="hidden" name="phone_number" value="<%= user.phone_number %>"/>
        <div class="layui-form-item">
            <label class="layui-form-label">验证码</label>
            <div class="layui-input-inline">
                <input type="text" name="verify_code" required lay-verify="required" placeholder="请输入验证码" class="layui-input">
            </div>
            <div class="layui-form-mid layui-word-aux"><a href="" id="send-code-btn">发送验证码</a></div>
        </div>
        <hr/>
        <div class="layui-form-item">
            <label class="layui-form-label">密码</label>
            <div class="layui-input-block">
                <input type="password" name="password" required lay-verify="required" placeholder="请输入密码" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">重复密码</label>
            <div class="layui-input-block">
                <input type="password" name="repassword" required lay-verify="repassword" data-match="input[name=password]" placeholder="请输入密码" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <button type="submit" lay-submit class="layui-btn layui-btn-fluid">修改密码</button>
        </div>
    </form>
</div>
<script>
    $(function() {
        registerSendVerifyCodeBtn($('#send-code-btn'), $('input[name=phone_number]'));
        registerCheckVerifyCode($('input[name=verify_code]'), $('input[name=phone_number]'));
    });
</script>
