
<form class="layui-form">
    <div class="layui-form-item">
        <label class="layui-form-label">中文队名</label>
        <div class="layui-input-inline">
            <input type="text" name="teamname" required  lay-verify="required|nosidespace|noctrlchar|teamname" placeholder="请输入队名" class="layui-input">
        </div>
        <div class="layui-form-mid layui-word-aux">长度不超过20,不能以空白字符开始或结束</div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">英文队名</label>
        <div class="layui-input-inline">
            <input type="text" name="enteamname" required  lay-verify="required|nosidespace|noctrlchar|enteamname" placeholder="请输入队名" class="layui-input">
        </div>
        <div class="layui-form-mid layui-word-aux">长度不超过30,不能以空白字符或下划线开始或结束</div>
    </div>
    <hr/>
    <div class="layui-form-item">
        <label class="layui-form-label">队员数量</label>
        <div class="layui-input-inline">
            <select lay-filter="count" name="member_count">
                <option>1</option>
                <option>2</option>
                <option>3</option>
            </select>
        </div>
        <div class="layui-form-mid layui-word-aux">如果队伍成员均为女性,则将会参与"最佳女队"的评选</div>
    </div>
    <div id="teammember_view"></div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit lay-filter="team">确认修改</button>
        </div>
    </div>
</form>
<script id="teammember_template" type="text/html">
    {{# for(var i = 0; i < d.count; i ++) { }}
    {{# var m = d.members[i]; }}
        <fieldset class="layui-elem-field">
            <legend><small>队员{{i}}</small></legend>
            <div class="layui-field-box">
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">姓名</label>
                        <div class="layui-input-inline">
                            <input type="text" name="tname{{i}}" required  lay-verify="required|nosidespace|noctrlchar" placeholder="请输入姓名" value="{{= m.name }}" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">电话号码</label>
                        <div class="layui-input-inline">
                            <input type="text" name="tphone_number{{i}}" required  lay-verify="phone" placeholder="请输入电话号码" value="{{= m.phone_number }}" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">性别</label>
                        <div class="layui-input-inline">
                            <select name="tsex{{i}}" value="{{= m.sex }}">
                                <option>男</option>
                                <option>女</option>
                                <option>保密</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">年级</label>
                        <div class="layui-input-inline">
                            <select name="tgrade{{i}}" value="{{= m.grade }}" data-id="{{i}}" grade lay-filter="grade">
                                <option>初中</option>
                                <option>高中</option>
                                <option>大一</option>
                                <option>大二</option>
                                <option>大三</option>
                                <option>大四</option>
                                <option>研究生</option>
                                <option>其他</option>
                            </select>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">学校</label>
                        <div class="layui-input-inline">
                            <select name="tschool{{i}}" required lay-verify="required|noctrlchar" lay-search data-id="{{i}}" lay-filter="school" value="{{= m.school }}">
                                <!-- fix -->
                            </select>
                        </div>
                    </div>
                    <div class="layui-inline" custom="{{i}}">
                        <label class="layui-form-label">学校</label>
                        <div class="layui-input-inline">
                            <input type="text" name="tschool_custom{{i}}" required  lay-verify="required|nosidespace|noctrlchar" placeholder="请输入学校" value="{{= m.school }}" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">衣服尺寸</label>
                        <div class="layui-input-inline">
                            <select name="ttshirt_size{{i}}" value="{{= m.tshirt_size }}">
                                <option>S</option>
                                <option>M</option>
                                <option>L</option>
                                <option>XL</option>
                                <option>XXL</option>
                                <option>XXXL</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">OI或ACM竞赛经历</label>
                        <div class="layui-input-inline">
                            <input type="checkbox" data-id="{{i}}" award="{{i}}" lay-filter="award" lay-skin="switch" lay-text="有|无">
                        </div>
                    </div>
                    <div class="layui-inline" award="{{i}}">
                        <label class="layui-form-label">OI系最高奖项</label>
                        <div class="layui-input-inline">
                            <select name="taward_oi{{i}}" value="{{= m.award_oi }}">
                                <option>NOI金牌</option>
                                <option>NOI银牌</option>
                                <option>NOI铜牌</option>
                                <option>NOI胸牌</option>
                                <option>没参加</option>
                                <option>IOI国家队</option>
                            </select>
                        </div>
                    </div>
                    <div class="layui-inline" award="{{i}}">
                        <label class="layui-form-label">ACM系最高奖项</label>
                        <div class="layui-input-inline">
                            <select name="taward_acm{{i}}" value="{{= m.award_acm }}">
                                <option>ACM/ICPC区域赛金牌</option>
                                <option>ACM/ICPC区域赛银牌</option>
                                <option>ACM/ICPC区域赛铜牌</option>
                                <option>ACM/ICPC区域赛胸牌</option>
                                <option>没参加</option>
                                <option>WF拿奖</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-block">
                        <label class="layui-form-label">其他竞赛经历</label>
                        <div class="layui-input-block">
                            <textarea name="texperiences{{i}}" lay-verify="noctrlchar" placeholder="请输入内容" class="layui-textarea">{{= m.experiences }}</textarea>
                            <div class="layui-form-mid layui-word-aux">
                                长度不超过4096,例如:Code+比赛第10名/APIO2017金牌/CCPC2016秦皇岛赛区金牌/CF红名.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
    {{# } }}
</script>

<script>
    layui.use(['form', 'laytpl'], function () {
        var form = layui.form;
        var laytpl = layui.laytpl;
        var default_member = {
            name: '',
            phone_number: '',
            school: '',
            grade: '',
            tshirt_size: '',
            sex: '',
            award_oi: '没参加',
            award_acm: '没参加',
            experiences: '',
        };
        var data = {
            teamname: '',
            enteamname: '',
            members: [],
            count: 0,
            highschool: [],
            university: [],
        };

        // 刷新select
        function refreshSelect() {
            $('select').each(function() {
                var s = $(this);
                var val = s.attr('value');
                if (!val) return;
                s.find('option').each(function() {
                    if (val == $(this).text()) $(this).attr('selected', '');
                });
            });
        }

        // 刷新学校名单
        function refreshSchool() {
            $('select[grade]').each(function() {
                var egrade = $(this);
                var id = egrade.attr('data-id');
                var eschool = $(`select[name=tschool${id}]`);
                var ecustom = $(`div[custom=${id}]`);

                eschool.html('');
                if (_.includes(['大一', '大二', '大三', '大四', '研究生'], egrade.val())) {
                    eschool.append('<option></option>');
                    eschool.append('<option>其他</option>');
                    _.each(data.university, function(s) {
                        eschool.append(`<option>${s}</option>`);
                    });
                    if (_.includes(data.university, data.members[id].school)) {
                        ecustom.hide();
                    } else {
                        ecustom.show();
                        eschool.val('其他');
                    }
                } else if (_.includes(['高中'], egrade.val())) {
                    eschool.append('<option></option>');
                    eschool.append('<option>其他</option>');
                    _.each(data.highschool, function(s) {
                        eschool.append(`<option>${s}</option>`);
                    });
                    if (_.includes(data.highschool, data.members[id].school)) {
                        ecustom.hide();
                    } else {
                        ecustom.show();
                        eschool.val('其他');
                    }
                } else {
                    eschool.append('<option>其他</option>');
                    eschool.val('其他');
                    ecustom.show();
                }
            });
        }

        // 刷新获奖
        function refreshAward() {
            $('input[award]').each(function() {
                var id = $(this).attr('data-id');
                if (data.members[id].award_oi == default_member.award_oi && data.members[id].award_acm == default_member.award_acm) {
                    $(this).removeAttr('checked');
                    $(`div[award=${id}]`).hide();
                } else {
                    $(this).attr('checked', '');
                    $(`div[award=${id}]`).show();
                }
            });
        }

        // 收集数据
        function collectData() {
            data.teamname = $('input[name=teamname]').val();
            data.enteamname = $('input[name=enteamname]').val();
            for(let i = 0; i < data.count; i ++) {
                _.keys(default_member).forEach(function(key) {
                    if ($(`input[name=t${key}${i}]`).length > 0)
                        data.members[i][key] = $(`input[name=t${key}${i}]`).val();
                    if ($(`select[name=t${key}${i}]`).length > 0)
                        data.members[i][key] = $(`select[name=t${key}${i}]`).val();
                    if ($(`textarea[name=t${key}${i}]`).length > 0)
                        data.members[i][key] = $(`textarea[name=t${key}${i}]`).val();
                    if (key == 'school' && $(`select[name=t${key}${i}]`).val() == '其他') {
                        data.members[i][key] = $(`input[name=tschool_custom${i}]`).val();
                    }
                });
                if (!$(`input[award=${i}]`).is(':checked')) {
                    data.members[i].award_oi = default_member.award_oi;
                    data.members[i].award_acm = default_member.award_acm;
                } else {
                    if (data.members[i].award_oi == default_member.award_oi && data.members[i].award_acm == default_member.award_acm) {
                        data.members[i].award_oi = '';
                        data.members[i].award_acm = '';
                    }
                }
            }
        }

        // 渲染数据
        function renderData() {
            $('input[name=teamname]').val(data.teamname);
            $('input[name=enteamname]').val(data.enteamname);
            $('select[name=member_count]').val(data.count);

            var tpl = $('#teammember_template').html();
            var view = $('#teammember_view');
            view.html(laytpl(tpl).render(data));

            refreshSelect();
            refreshSchool();
            refreshSelect();

            refreshAward();

            form.render();
        }

        form.on('select(count)', function (c) {
            collectData();
            data.count = c.value;
            renderData();
        });
        form.on('select(grade)', function (c) {
            collectData();
            var id = $(c.elem).attr('data-id');
            if (_.includes(['大一', '大二', '大三', '大四', '研究生'], $(c.elem).val())) {
                data.members[id].school = '清华大学';
            } else if (_.includes(['高中'], $(c.elem).val())) {
                if (data.highschool.length) data.members[id].school = data.highschool[0];
            }
            renderData();
        });
        form.on('select(school)', function (c) {
            var i = $(c.elem).attr('data-id');
            $(`input[name=tschool_custom${i}]`).val('');
            collectData();
            renderData();
        });
        form.on('switch(award)', function(c) {
            collectData();
            renderData();
        });

        form.on('submit(team)', function() {
            collectData();
            var send_data = _.cloneDeep(_.pick(data, ['teamname', 'enteamname', 'members']));
            send_data.members = send_data.members.slice(0, data.count);

            var loading = layer.load();
            $.post('/myteam_update', send_data, mustAfter(function(data) {
                layer.close(loading);
                
                if (data.success) {
                    layer.msg('修改成功,正在等待审核', {icon: 6, time: 1000}, function() {
                        window.location.href = '/myteam';
                    });
                } else {
                    layer.alert(data.msg, {title: '错误'}); 
                }
            }, 500));

            return false;
        });

        var loading = layer.load();
        var delay = 500;
        $.get('/myteam_info', mustAfter(function(teamdata) {
            layer.close(loading);

            _.assign(data, teamdata);
            data.count = Math.max(1, teamdata.members.length);
            while(data.members.length < 3) data.members.push(_.clone(default_member));
            renderData();
        }, delay));
        $.get('/team/highschool', mustAfter(function(list) {
            data.highschool = list;
            renderData();
        }, delay));
        $.get('/team/university', mustAfter(function(list) {
            data.university = list;
            renderData();
        }, delay));

        form.render();
    });
</script>
