<div id="team_view">
</div>

<script id="team_template" type="text/html">
    <fieldset class="layui-elem-field">
        <legend>
            队伍信息
            {{# if (!d.not_womenteam) { }} <spin>(<spin style="color: red">女队</spin>)</spin> {{# } }}
            (
                {{# if (d.info_filled) { }}
                    {{# var cnstatus = {none: '等待审核', accepted: '<spin style="color: green">审核通过</spin>', rejected: '<spin style="color: red">审核失败</spin>' } }}
                    {{ cnstatus[d.team_status] }}
                {{# } else { }}
                    <spin style="color: blue">尚未报名</spin>
                {{# } }}
            )
        </legend>
        <div class="layui-field-box">
            <div class="layui-row layui-col-space20 layui-hide-xs layui-hide-sm layui-show-md-block layui-show-lg-block">
                <div class="layui-col-md2 text-right">
                    <small>中文队名:</small>
                </div>
                <div class="layui-col-md4">
                    <p class="teamname">{{= d.teamname || '尚未填写队名' }}</p>
                </div>
                <div class="layui-col-md2 text-right">
                    <small>英文队名:</small>
                </div>
                <div class="layui-col-md4">
                    <p class="teamname">{{= d.enteamname || 'NULL' }}</p>
                </div>
            </div>
            <div class="layui-row layui-col-space20 layui-hide-md layui-hide-lg layui-show-xs-block layui-show-sm-block">
                <div class="layui-col-md2">
                    <small>中文队名:</small>
                </div>
                <div class="layui-col-md4 text-right">
                    <p class="teamname">{{= d.teamname || '尚未填写队名' }}</p>
                </div>
                <div class="layui-col-md2">
                    <small>英文队名:</small>
                </div>
                <div class="layui-col-md4 text-right">
                    <p class="teamname">{{= d.enteamname || 'NULL' }}</p>
                </div>
            </div>
        </div>
    </fieldset>

    {{# if (d.info_filled && d.team_status == 'rejected') { }}
    <fieldset class="layui-elem-field">
        <legend><spin style="color: blue">提示</spin></legend>
        <div class="layui-field-box">
            <p>你的队伍没有通过审核,这可能是由于你填写的资料不正确或者资料不完整导致的.请填写正确的资料并补充详细的竞赛经历,比如NOIP成绩/Code+成绩/省选成绩等.</p>
            <p>在"修改队伍信息"页面填写信息并提交之后,我们将会重新审核.</p>
        </div>
    </fieldset>
    {{# } }}

    {{# for(var i = 0; i < d.members.length; i ++) { }}
    {{# var m = d.members[i]; }}
    <fieldset class="layui-elem-field">
        <legend>队员{{i}}</legend>
        <div class="layui-field-box">
            <div class="layui-row layui-col-space15">
                <div class="item layui-col-md4">
                    <small>姓名:</small><spin class="itemvalue">{{= m.name }}</spin>
                </div>
                <div class="item layui-col-md4">
                    <small>电话号码:</small><spin class="itemvalue">{{= m.phone_number }}</spin>
                </div>
                <div class="item layui-col-md4">
                    <small>性别:</small><spin class="itemvalue">{{= m.sex }}</spin>
                </div>
            </div>
            <div class="layui-row">
                <div class="item layui-col-md4">
                    <small>年级:</small><spin class="itemvalue">{{= m.grade }}</spin>
                </div>
                <div class="item layui-col-md4">
                    <small>学校:</small><spin class="itemvalue">{{= m.school }}</spin>
                </div>
                <div class="item layui-col-md4">
                    <small>衣服尺寸:</small><spin class="itemvalue">{{= m.tshirt_size }}</spin>
                </div>
            </div>
            <div class="layui-row">
                <div class="item layui-col-md4 layui-col-md-offset4">
                    <small>OI最高奖项:</small><spin class="itemvalue">{{= m.award_oi }}</spin>
                </div>
                <div class="item layui-col-md4">
                    <small>ACM最高奖项:</small><spin class="itemvalue">{{= m.award_acm }}</spin>
                </div>
            </div>
            <fieldset class="layui-elem-field">
                <legend>竞赛经历</legend>
                <div class="layui-field-box"><pre>{{= m.experiences }}</pre></div>
            </fieldset>
        </div>
    </fieldset>
    {{# } }}

    <div class="layui-row text-center">
        <a class="layui-btn layui-btn-normal" href="/myteam_modify" {{# if (d.info_filled && d.team_status == 'accepted') { }} onclick="return confirm('你已通过审核,修改资料将会重新进入待审核状态,确定修改?')" {{# } }}>修改队伍信息</a>
        {{# if (d.info_filled) { }}
        <a class="layui-btn" href="/myteam_cancel" {{# if (d.info_filled && d.team_status == 'accepted') { }} onclick="return confirm('你已通过审核,确定取消报名?')" {{# } }}>取消报名</a>
        {{# } }}
    </div>
</script>

<script>
    layui.use(['form', 'laytpl'], function () {
        var form = layui.form;
        var laytpl = layui.laytpl;
        var data = {
            teamname: '',
            enteamname: '',
            experiences: '',
            members: [],
        };

        // 渲染
        function render() {
            var not_womenteam = data.members.length == 0 || _.some(data.members, function(m) {
                return m.sex != '女';
            });
            data.not_womenteam = not_womenteam;
            var tpl = $('#team_template').html();
            var view = $('#team_view');
            view.html(laytpl(tpl).render(data));
        }

        render();

        var loading = layer.load();
        $.get('/myteam_info', mustAfter(function (teamdata) {
            layer.close(loading);

            data = teamdata;
            render();
        }, 500));
    });
</script>
